
###> symfony/framework-bundle ###
.env
/public/bundles/
composer.lock
/var/
/vendor/
bin/
config.yml
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml.dist
###< phpunit/phpunit ###
